{% extends "menu.html"%}

{%block content%}
    <h4>Amizades</h4>
    <table>
        <tr>
            <td>
                <input type="submit" href="./index.html" id="voltar" class="back" hidden>  
            </td>

            <td>
                <input type="submit" value="Adicionar amigos" class="botoes"> 
            </td>
        </tr>
    </table>
    
    {% if amizades %}
    {% for amizade in amizades %}
    <div class="amizadesatuais">
        <table>    
            <tr class="altura">
                <td>
                    <figure>
                        <img src="./static/user.png" alt="1" class="user" title="usuario">
                    </figure>
                </td>
                <td class="mane">
                    <p>{{amizade.username}}</p>
                </td>
                <td class="time">
                    <p>
                        <figure>
                            <img src="./static/escudos/{{amizade.time}}.png" alt="" class="time">
                        </figure>
                    </p>
                </td>
            </tr>    
        </table>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}