<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylish.css">
</head>
<body class="b">
    <figure>
        <img src="./imagens/logo.jpg" alt="1" class="balls" title="bolões" width="80" height="80">
    </figure>
    <br>
    <h4 class="h4">Cadastro</h4>
    <div class="login2">
        <br>
    <form action="cadastro.py" method="post">
        <p class="dados"><label for="iEmail">Email</label></p>
        <input size="30" maxlength="50" type="text" name="E-mail" id="iEmail" required>
        <br>
        <br>
        <br>
    
        <p class="dados"><label for="iPassword">Senha</label></p>
        <input size="30" minlength="8" maxlength="20" type="password" name="Password" id="iPassword" required>
        <br>
        <br>
        <br>
    
        <p class="d2"><label for="ic-Password">Confirme a senha</label></p>
        <input size="30" minlength="8" maxlength="20" type="password" name="iC-Password" id="ic-Password" required>
        <br>
        <br>
        <br>
    
        <p class="dados"><label for="idade">Idade</label></p>
        <input type="date" id="data">
    
        <br>
        <br>
        <input type="submit" value="Finalizar Cadastro">
    </form>
    </div>
</body>
</html>