<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/stylish.css">
</head>
<body class="b">
    <figure>
        <img src="./static/logo.png" alt="1" class="balls" title="bolões" width="80" height="80">
    </figure>
    <br>
    <h4 class="t2">Cadastro</h4>
    <div class="login2">
        <form action="/cadastro" method="POST" autocomplete="off">
            <br>
            <p class="dados"><label for="email">Email</label></p>
            <input size="30" maxlength="50" type="text" name="email" id="email" onchange="CreateEmail()">
            <div class="erro" id="E-required">Email é obrigatório</div>
            <p class="erro" id="Invalid-email">Email inválido</p>
        
            <p class="dados"><label for="senha">Senha</label></p>
            <input size="30" minlength="8" maxlength="20" type="password" name="senha" id="senha">
            <p class="erro" id="P-required">Insira uma senha</p>
        
            <p class="d2"><label for="confSenha">Confirme a senha</label></p>
            <input size="30" minlength="8" maxlength="20" type="password" name="confSenha" id="confSenha">
        
            <p class="dados"><label for="idade">Idade</label></p>
            <input type="date" id="idade" name="idade">

            <br>
        
            <input type="submit" value="Finalizar Cadastro" class="botoes" id="ConfirmCadastro">

        </form>
    </div>
</body>
</html>


