{% extends "menu.html"%}

{%block content%}
    <h4 class="topic">Configurações</h4>
        
    <table class="options">
        <tr>
            <td>
                <a href="/user-cadastro">
                    <input type="button" value="Perfil" class="botoes"> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/fundo">
                    <input type="button" value="Tema de Fundo" class="botoes">
                </a>
            </td>
        </tr>
    </table>
{%endblock%}