<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/stylish.css">
</head>
<body class="b">
    <figure>
        <img src="./static/logo.jpg" alt="1" class="balls" title="bolões" width="80" height="80">
    </figure>

    <div class="login3">
    <form action="functions.py" method="post" autocomplete="off">
        <br>
        <p class="dados"><label for="Ipassword">Senha</label></p>
        <input size="30" minlength="8" maxlength="20" type="password" name="Password" id="Ipassword" required>
        
        <p class="d2"><label for="Ic-password">Confirme a senha</label></p>
        <input size="30" minlength="8" maxlength="20" type="password" name="iC-Password" id="Ic-password" required>

        <br>

    <input type="submit" value="Confirmar" class="botoes">
    </form>
    </div>
</body>
</html>
