{% extends "menu.html"%}

{% block content %}
    <h4>Tema de fundo</h4>
    <table class="fundos">
        <tr>
            <td class="campo">
                <figure>
                    <img src="./static/campo.png" alt="1" class="fundo">
                </figure>
            </td>

            <td class="campo">
                <figure>
                    <img src="./static/area.png" alt="1" class="fundo">
                </figure>
            </td>

            <td class="campo">
                <figure>
                    <img src="./static/campo2.png" alt="1" class="fundo">
                </figure>
            </td>

        </tr>
    </table>
{% endblock %}