<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="./static/stylish.css">
</head>
<body class="f2">
    <div class="jogos">
        <figure>
            <img src="./static/logo.png" alt="1" class="balls" title="bolões" width="110" height="110">
        </figure>
    </div>


    <div class="account">
        <img src="./static/user.png" alt="" class="user">
    </div>

    
</body>
</html>