<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/stylish.css">
</head>
<body class="b">
    <figure>
        <img src="./static/logo.jpg" alt="1" class="balls" title="bolões" width="110" height="110">
    </figure>

    <div class="login">
    <form action="/login" method="post" autocomplete="on">
        <br>
        <p class="dados"><label for="email">Email</label> </p>
        <input size="30" maxlength="50" type="text" name="email" id="email" autocomplete="email" onchange="OnChangeEmail()">

        <div class="erro" id="Email-required">Email é obrigatório</div>
        <p class="erro" id="Wrong-email">Email inválido</p>
        
        <p class="dados"><label for="senha">Senha</label> </p>
        <input size="30" maxlength="20" type="password" name="senha" id="senha" autocomplete="current-password" onchange="OnChangeSenha()">
        
        <p class="erro" id="Password-required">Insira uma senha</p>
        <p class="erro" id="Wrong-password">Senha inválida</p>

        <br>

        <a href="forgotsenha.html" class="botoes">
            <source id="forgot-senha">Esqueceu a senha?<source>
        </a>
        
        <br>

        <input type="submit" value="Entrar" class="botoes" id="enter" onchange="ToggleButtonsDisable()">
        
        <br>
        <br>
        <p>Primeira vez?</p>
        <a href="cadastro.html">
            <source>Cadastre-se<source>
        </a>

        <script src="./scripts/login.js"></script>
    </form>
    </div>
</body>
</html>


