<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/stylish.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="b">
    <a href="/main">
        <figure>
            <img src="./static/back.png" alt="1" class="back" title="voltar">
        </figure>
        <input type="submit" id="voltar" hidden>  
    </a>
    
    <figure>
        <img src="./static/logo.png" alt="1" class="balls" title="bolões" width="100" height="100">
    </figure>

    {%block content%}
    {%endblock%}

</body>
</html>