{% extends "menu.html"%}

{% block content %}
    <div class="login2">
        <br>
        <h3>Fazer Palpite</h3>
        <form action="/palpite" method="POST" autocomplete="off">
            <label for="timeA">Time A</label>
            <input list="timesList" name="timeA" id="timeA" required placeholder="Digite o Time A">
            <br><br>
        
            <label for="placarA">Placar A</label>
            <input type="number" name="placarA" id="placarA" required placeholder="Digite o Placar A">
            <br><br>
        
            <label for="timeB">Time B</label>
            <input list="timesList" name="timeB" id="timeB" required placeholder="Digite o Time B">
            <br><br>
        
            <label for="placarB">Placar B</label>
            <input type="number" name="placarB" id="placarB" required placeholder="Digite o Placar B">
            <br><br>
        
            <!-- Datalist com as opções de times -->
            <datalist id="timesList">
                {% for time in times %}
                <option value="{{ time.nome }}">{{ time.id }}</option>
                {% endfor %}
            </datalist>
        
            <input type="submit" value="Confirmar">
        </form>
        </div>

{% endblock %}