{% extends "menu.html"%}

{% block content %}
    <h3>Fazer Palpite</h3>
        <form action="/" id="formPalpite">
            <label for="timeA">Time A</label>
            <select name="timeA" id="timeA">
                {% for time in times %}
                
                <option value="{{ time.nome }}">{{ time.nome }}</option>
                {% endfor %}
            </select>
            
            <input type="number" id="timeA" name="timeA" required>
            <br>
                
            <label for="timeB">Time B</label>
            <select name="timeB" id="timeB">
                {% for time in times %}
                
                <option value="{{ time.nome }}">{{ time.nome }}</option>
                {% endfor %}
            </select>
                
            <input type="number" name="timeB" id="timeB" required>
            <br><br>

{% endblock %}