{% extends "menu.html"%}

{%block content%}
    <h4 class="topic">Regras</h4>
    <p class="regras">
        "Meus Bolões" é uma aplicação em que você pode palpitar
        sobre resultados de jogos do Campeonato Brasileiro de futebol das séries A e B <br>
        e disputar com os seus amigos quem acerta mais!
    </p>

    <h4>Bolão</h4>
    <p class="regras">
        Para palpitar sobre um resultado de um jogo, 
    </p>

    <h4>Pontuação</h4>
    <p class="regras">
        Caso você acerte exatamente o resultado final da partida, ganhará 3 pontos sobre ela. <br>
        Caso não acerte o placar exato, mas acerte o vencedor do confronto ou que terminará empatado, ganhará um ponto. <br>
        Caso não acerte nenhum dos dois, não ganhará nenhum ponto
    </p>
{%endblock%}