<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/stylish.css">
</head>
<body class="bolao">
    <img src="./static/back.png" alt="1" class="back" title="voltar">
    <input type="submit" href="index.html" id="voltar" hidden>  
     
    <figure>
        <img src="./static/logo.jpg" alt="1" class="balls" title="bolões" width="100" height="100">
    </figure>
    <h4>Regras</h4>


    <p class="regras">
        "Meus Bolões" é uma aplicação em que você pode palpitar
        sobre resultados de jogos do Campeonato Brasileiro de futebol das séries A e B <br>
        e disputar com os seus amigos quem acerta mais!
    </p>

    <h4>Bolão</h4>

</body>
</html>