/* backgrounds */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

.b{
    background-image: linear-gradient(to right, #19d114, #009638);
}

html{
    padding: 0%;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: url('campo.png'), linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.field{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.f2{
    width: 100%;
    height: 100%;
    background: url('campo.png'), linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    overflow: hidden;
    object-fit: cover;
    padding: 0%;
}


/*login e cadastro*/

.login{
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 5%;
    transform: translateY(-5%);
    border-radius: 3%;
    width: 310px;
    height: 340px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.balls{
    margin-left: 50%;
    transform: translateX(-50%);
}

.login2{
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 3%;
    margin-top: 3%;
    transform: translateY(-3%);
    width: 310px;
    height: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login3{
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 5%;
    transform: translateY(-5%);
    border-radius: 3%;
    width: 310px;
    height: 230px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.botoes{
    margin-top: 11%;
    transform: translateY(-11%);
    cursor: pointer;
    height: 40px;
    width: 130px;
}

.botoes:active{
    opacity: 0.9;
}
.botoes[disabled]{
    opacity: 0.6;
}

.username.botoes{
    background: linear-gradient(to right, #a6a6a6, #ffffff);
}

h4{
    text-align: center;
    font-size: 23px;
}

.dados{
    margin-right: 60%;
    transform: translateX(-60%);
    margin-top: 11%;
    transform: translateY(-11%);
}

.d2{
    margin-right: 38%;
    transform: translateX(-38%);
    margin-top: 11%;
    transform: translateY(-11%);
}

.u{
    text-align: center;
    margin-top: 5%;
    transform: translateY(-5%);
    margin-left: 50%;
    transform: translateX(-50%);
}

.upload-icon {
    display: inline-block;
    font-size: 10px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 60px;
}

.upload-icon:hover {
    background: #ddd;
}

.group{
    margin-right: 50%;
    transform: translateX(-50%);
    margin-top: 8%;
    transform: translateY(-8%);
}

.erro{
    color:red;
    display: none;
}
/* ligas */
.account{
    position: bottom;
    background-image: linear-gradient(to bottom, #bbbbbb, #ffffff);
    display: flex;
    height: 100%;
    width: 220px;
    align-content: center;
}

.account .user{
    width: 170px;
    height: 170px;
    margin-left: 40%;
    transform: translateX(-40%);
    margin-top: 40%;
    transform: translateX(-40%);
}

.jogos{
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    display: flex;
    width: 100%;
    height: 80px;
}

.jogos .balls{
    margin-top: 40%;
    transform: translateY(-40%);
}

.classic{
    margin-top: 5%;
    transform: translateY(-5%);
    font-size: 18px;
}



.league{
    margin-left: 35%;
    transform: translateX(-35%);
}

.desc{
    width: 500px;
    height: 150px;
}

.set{
    margin-top: 6%;
    transform: translateY(-6%);
    font-size: 18px;
}

.describe{
    margin-top: 6%;
    transform: translateY(-6%);
    font-size: 18px;
}

.setting{
    margin-bottom: 10%;
    transform: translateY(-10%);
    font-size: 18px;
}

/*menu*/
.back{
    width: 50px;
    height: 50px;
}

/*amizades*/
.amizades{
    margin-top: 6%;
    transform: translateY(-6%);
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    display: flex;
    height: 60px;
    width: 90%;
    position: center;
}

.amizades.user{
    width: 40px;
    height: 40px;
}

.friend.balls{
    position: top;
}

.amizadesatuais{
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 150px;
    border-radius: 10%;
}

.buttons{
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.buttons.botoes{
    margin-top: 1%;
    transform: (-1%);
}