/* backgrounds */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

.b{
    background-image: linear-gradient(to right, #19d114, #009638);
}

html{
    padding: 0%;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: url('campo.png'), linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.field{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.f2{
    width: 100%;
    height: 100%;
    background: url('campo.png'), linear-gradient(to right, #19d114, #009638);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    overflow: hidden;
    object-fit: cover;
    padding: 0%;
}


/*login e cadastro*/

.login{
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 10%;
    transform: translateY(-10%);
    border-radius: 3%;
    width: 310px;
    height: 340px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.balls{
    margin-left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 5px;
}

.login2{
    background-color: #d9d9d9;
    text-align: center;
    border-radius: 3%;
    margin-top: 3%;
    transform: translateY(-3%);
    width: 310px;
    height: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login3{
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 10%;
    transform: translateY(-10%);
    border-radius: 3%;
    width: 310px;
    height: 230px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.botoes{
    margin-top: 11%;
    transform: translateY(-11%);
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 30px;
}

.botoes:hover{
    opacity: 0.8;
}

.username.botoes{
    background: linear-gradient(to right, #a6a6a6, #ffffff);
}

h4{
    text-align: center;
    font-size: 23px;
}

.dados{
    margin-right: 60%;
    transform: translateX(-60%);
    margin-top: 11%;
    transform: translateY(-11%);
}

.d2{
    margin-right: 38%;
    transform: translateX(-38%);
    margin-top: 11%;
    transform: translateY(-11%);
}

.u{
    text-align: center;
    margin-top: 5%;
    transform: translateY(-5%);
    margin-left: 50%;
    transform: translateX(-50%);
}

.upload-icon {
    display: inline-block;
    font-size: 10px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 20%;
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 60px;
}

.upload-icon:hover {
    background: #ddd;
}

.group{
    margin-right: 50%;
    transform: translateX(-50%);
    margin-top: 8%;
    transform: translateY(-8%);
}

.erro{
    color:red;
    display: none;
}
/* ligas */
.account{
    position: bottom;
    background-image: linear-gradient(to bottom, #bbbbbb, #ffffff);
    display: flex;
    height: 100%;
    width: 220px;
    align-content: center;
}

.account .user{
    width: 170px;
    height: 170px;
    margin-left: 40%;
    transform: translateX(-40%);
    margin-top: 40%;
    transform: translateX(-40%);
}

.jogos{
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    display: flex;
    width: 100%;
    height: 80px;
}

.jogos .balls{
    margin-top: 40%;
    transform: translateY(-40%);
}

.classic{
    margin-top: 5%;
    transform: translateY(-5%);
    font-size: 18px;
}



.league{
    margin-left: 35%;
    transform: translateX(-35%);
}

.desc{
    width: 500px;
    height: 150px;
}

.set{
    margin-top: 6%;
    transform: translateY(-6%);
    font-size: 18px;
}

.describe{
    margin-top: 6%;
    transform: translateY(-6%);
    font-size: 18px;
}

.setting{
    margin-bottom: 10%;
    transform: translateY(-10%);
    font-size: 18px;
}

/*menu*/
.back{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*amizades*/
.amizades{
    margin-top: 6%;
    transform: translateY(-6%);
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    display: flex;
    height: 60px;
    width: 90%;
    position: center;
}

.buscar{
    position: center;
    height: 25px;
    width: 270px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.user{
    width: 100px;
    height: 100px;
    background-size: contain;
}

.amigos{
    position: fixed;
    top: 7px;
    right: 60px;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 30px;
}

.amizadesatuais{
    background-color: white;
    margin-left: 25%;
    transform: translateX(-25%);
    width: 50%;
    height: 100px;
    margin-top: 2%;
    transform: translateY(-2%);
    border-radius: 30px;
}

.amizadesnovas{
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100px;
    border-radius: 30px;
}

.buttons{
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.buttons.botoes{
    margin-top: 1%;
    transform: (-1%);
}

.solAmizade{
    height: 50px;
    width: 70px;
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    border-radius: 10%;
    cursor: pointer;
}

.name{
    width: 64%;
}

.mane{
    width: 100%;
}

.time{
    height: 90px;
    width: 80px;
}

.torcida{
    width: 20%;
}

.solicitar{
    margin-left: 40%;
    transform: translateX(-40%);
}

table{
    height: 60px;
    margin-top: 3%;
    transform: translateY(-3%);
}

/* regras */
.regras{
    margin-bottom: 3%;
    transform: translateY(-3%);
    text-align: center;
    font-size: 16px;
}

/* fundo */

.fundos{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 180px;
}

.fundo{
    width: 270px;
    height: 180px;
    cursor: pointer;
    padding: 10px;
}

.fundo:hover{
    opacity: 0.7;
}

.campo{
    border: 1px solid black;
}

/* caixa de mensagens */
.confirm{
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #bbbbbb, #ffffff);
    margin-right: 15%;
    transform: translateX(-15%);
}

.naolidas{
    background-color: white;
    margin-left: 30%;
    transform: translateX(-30%);
    width: 40%;
    height: 80px;
    margin-top: 2%;
    transform: translateY(-2%);
    border-radius: 30px;
}

.ok{
    background-size: contain;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.message{
    width: 90%;
    margin-bottom: 2%;
    transform: translateY(-2%);
}

.altura{
    height: 80px;
}

/* convidar participantes */

.invite{
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100px;
    border-radius: 30px;
}

.convite{
    background-image: linear-gradient(to right, #23f11d, #04ff00);
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

.usname{
    width: 90%;
}

/* configurações */

.options{
    margin-left: 50%;
    transform: translateX(-50%);
}

/* menu */

.topic{
    margin-top: 2%;
    transform: translateX(-2%);
    margin-left: 10%;
    transform: translateX(-10%);
    margin-bottom: 5%;
    transform: translateX(-5%);
}

.t2{
    margin-top: 3%;
    transform: translateX(-3%);
    margin-left: 10%;
    transform: translateX(-10%);
    margin-bottom: 5%;
    transform: translateX(-5%);
}

.t3{
    margin-top: 5%;
    transform: translateX(-5%);
    margin-left: 10%;
    transform: translateX(-10%);
    margin-bottom: 5%;
    transform: translateX(-5%);
}


.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #bbbbbb, #ffffff);
    overflow: hidden; /* Esconde o conteúdo que sair da tela */
    position: relative;
}

.log {
    width: 160px;
    height: 100px;
    z-index: 2; /* Garante que o logo fique visível */
    background: linear-gradient(to right, #bbbbbb, #ffffff);
}

.carousel {
    display: flex;
    position: absolute;
    left: 120px; /* Mantém o espaço para o logo */
    width: calc(100% - 120px); /* Carrossel ocupa o restante do espaço */
    height: 80px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 450px; /* Define a largura de cada slide */
    margin-right: 10px;
    margin-left: 10px;
}

.team-logo {
    width: 70px;
    height: 70px;
}

.timeCoracao {
    margin-top: 30px;
    width: 120px;
    height: 150px;
}

.score {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    color: #333;
}

.perfil {
    padding-bottom: 20px;
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex: 1;
}

.sidebar-left {
    background: #d9d9d9;
    width: 140px;
    padding: 10px;
}

.user-profile {
    text-align: center;
}

.user-profile .avatar {
    width: 100px;
    height: 100px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 30px auto 20px;
}

.last-bet img {
    width: 40px;
}

.central {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* Espaço entre os quadrados */
    height: 100%; /* Garante que ocupa o espaço central */
    padding: 10px;
}

.central .quadrado {
    background-color: rgb(255, 255, 255, 0.5);
    border: 4px solid black;
    width: 300px;
    height: 170px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Evita que elementos saiam do quadrado */
    text-align: center;
    margin-left: 150px;
}

.central .destaque {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.central .ligas-boloes {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    background-color: transparent;
    height: 100px;
}

.central .live-bet {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 200px;
}

.central .noticias {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 300px;
    margin-top: -100px;
}

.central h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.central li {
    text-align: start;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.central p,
.central ul,
.central ol {
    font-size: 14px;
    color: #555;
    margin: 0;
    padding-left: 15px;
}

.botao-liga {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.botao-liga:hover {
    opacity: 0.8;
}

.bot {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.bot:hover {
    opacity: 0.9;
}
